$color-background: #E5E5E5;
$color-white: #fff;
$color-black: #000;
$color-gray: #4E5156;

$color-primary-light: #4BA7EE;
$color-primary-main: #003970;
$color-primary-dark: #001841;

$color-alert: #DB171D;
$color-warning: #FFAB48;
$color-highlight: #FFEF63;

$color-extra-1: #105AA3;
$color-extra-2: #C9E3F9;
$color-extra-3: #9DA2A9;
$color-extra-4: #DEE1E837;
$color-extra-5: #8b9199;
$color-extra-6: #326C96;
$color-extra-7: #6DC138;
