$color-black: #000;
$color-gray: #4E5156;

$color-primary-light: #4BA7EE;
$color-primary-main: #003970;
$color-primary-dark: #001841;

$color-alert: #DB171D;
$color-warning: #FFAB48;
$color-highlight: #FFEF63;
